*,
*::after,
*::before
{
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

body {
    background: #efefef;
    text-align: center;
    padding-top: 50px;
}

.weather-text {
    padding: 10px 1em;
    border: none;
}

.weather-btn {
    padding: 10px 1em;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

.weather-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px 2em;
}

.weather-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.weather-box {
    height: 200px;
    width: 200px;
    background: white;
    font-size: 3em;
    line-height: 200px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    animation-name: box-shadow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border-radius: 10px;
    
}

.error {
    color: red;
    font-weight: bold;
    font-size: 1.5em;
}

@keyframes box-shadow {
    0% {
        box-shadow: 0 0 0 rgba(0,0,0,.3);
    }

    50% {
        box-shadow: 0 0 10px 5px rgba(0,0,0,.3);
    }

    100% {
        box-shadow: 0 0 0 rgba(0,0,0,.3);
    }
}